/*------------------------NavBar Over-write------------------------------*/
.navbar {
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 4rem;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.755);
}

.container {
    flex: 1;
    margin: 5rem auto 2.5rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.contact-box {
    max-width: 80%;
    padding: 3rem 2rem;
    background: #1b1a1a;
    border-radius: 20px;
    box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.845);
}


.contact-box h2 {
    border: 2px solid #007bff;
    padding: 20px;
    background: #0d0f42;
    margin-bottom: 2.75rem;
    color: rgba(255, 254, 254, 0.898);
    box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
    font-weight: normal;
    font-size: 300%;
    border-radius: 20px;

}


.contact-box .field {
    width: 100%;
    outline: none;
    background-color: rgba(230, 230, 230, 0.95);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    transition: .3s;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;

}


.contact-box .field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-box textarea {
    min-height: 15rem;
}

.contact-box .btn {
    width: 100%;
    padding: 0.938rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    color: #0d0f42;
    background: #007bff;
    font-weight: 500;
    font-size: 1.563rem;
    display: inline-block;
    cursor: pointer;
    transition: .3s;
}

.contact-box .btn:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #007bff;
    box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
}

.contact-box .field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}



@media only screen and (max-width: 1200px) {

    .menu-btn {

        top: 1rem;
        right: 1.8rem;
    }

}

@media screen and (max-width: 435px) {
    .contact-box h2 {
        font-size: 1.5rem;


    }
}