/*------------------------NavBar Over-write------------------------------*/
.navbar {
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  height: 4rem;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.755);
}

/*------------------------NavBar Over-write------------------------------*/



/* FORM STYLE */
.container {
  flex: 1;
  width: 100%;
  max-width: 80%;

  color: #fff;
  padding: 4rem 2rem;
  margin: 5rem auto 2.5rem auto;
  border-radius: 0.313rem;
  box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
}


.header {

  border: 2px solid #007bff;
  background: #0d0f42;
  text-align: center;
  margin-bottom: 2.75rem;
  color: rgba(255, 254, 254, 0.898);
  box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
  font-weight: normal;
  padding: 1rem;
  font-size: 200%;
  font-family: "Roboto", sans-serif;

}



.table {
  width: 100%;
  font-size: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 16px 20px;
  border: 1px solid #ddd;
  text-align: center;

}

.table th {
  background-color: darkblue;
  color: #ffffff;
}

tbody tr:hover {

  transform: scale(1.02);
  background-color: #007bff;

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

/*responsive*/
@media only screen and (max-width: 1200px) {

  .menu-btn {

    top: 1rem;
    right: 1.8rem;
  }

}


@media(max-width: 950px) {
  .table {
    width: 90%;
    font-size: 90%;
    border-collapse: collapse;
  }


}

@media(max-width: 900px) {
  .table {
    width: 80%;
    font-size: 70%;
    border-collapse: collapse;
  }


}


@media(max-width: 780px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: inline-block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    text-align: right;

    text-align: right;

  }

  .table td::before {
    content: attr(data-label);
    float: left;
    width: 50%;

    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .header {
    font-size: 150%;
  }
}