/*------------------------Slider Start------------------------------*/

.slideshow {

    border-bottom: #fff solid 1px;
    border-radius: 0 0 2% 2%;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 95vh;
    background: linear-gradient(transparent, #000116);
    border-radius: 0 0 2% 2%;
}

.slider .container {
    position: relative;
    top: 0;
    width: 500%;
    left: 0;
    animation: 20s slider infinite;
    border-radius: 0 0 2% 2%;
}

.slider .container img {
    width: 20%;
    height: 95vh;
    float: left;
}

.banner {
    position: absolute;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 2% 2%;

}


@keyframes slider {


    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

/*------------------------Slider End------------------------------*/



/*------------------------Cards Start------------------------------*/

.Card-Container {
    padding: 60px 0;
    border-top: #fff solid 1px;
    border-radius: 2% 2% 0 0;
}

.Card-Container .header {
    background: #0d0f42;
    text-align: center;
    margin-bottom: 2rem;
    color: rgba(255, 254, 254, 0.898);
    box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
    font-weight: normal;
    font-size: 3rem;
    border-radius: 20px;
    border: 2px solid #007bff;
}

/*-------------------------*/
.cards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-------------------------*/
.cards_wrap .card_item {
    padding: 15px 25px;
    width: 25%;

    border-radius: 0.4rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.card_item:hover {
    transform: translateY(-0.5%);
    box-shadow: 1rem 3rem 50rem #007bff;
}

/*-------------------------*/
.cards_wrap .card_inner {
    background: #1b1a1a;
    border: #007bff solid 2px;
    border-radius: 0.4rem;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 315px;
    max-height: 370px;
    width: 100%;
}

.cards_wrap .card_item img {
    border-radius: 20px;
    width: 100%;
    height: 160px;
    margin-bottom: 5px;
    border: #007bff solid 2px;
}

.cards_wrap .card_item .Card-header {
    color: #007bff;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .meta {
    color: #ff0000;
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 5px;
}

.card_item a {
    text-decoration: none;
}

.cards_wrap .card_item .description {
    font-size: 14px;

    color: #7b8ca0;
}

/*-----------Cards Responsive--------------*/
@media screen and (max-width: 1300px) {
    .cards_wrap .card_item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .cards_wrap .card_item {
        width: 50%;
    }

    .Card-Container .header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 698px) {
    .cards_wrap .card_item {
        width: 100%;
    }

    .Card-Container .header {
        font-size: 1.5rem;
    }
    .cards_wrap .card_item .description {
        font-size: 10px;
    
        
    }
    .cards_wrap .card_item .meta {
  
        margin: 1px;
    }
    .cards_wrap .card_item .Card-header {
  
        font-size: 16px;
    }
}

/*------------------------Cards End------------------------------*/