/*------------------------NavBar Over-write------------------------------*/
.navbar {
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  height: 4rem;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.755);
}

/*------------------------NavBar Over-write------------------------------*/



/* FORM STYLE */

.form-container {
  flex: 1;
  width: 100%;
  max-width: 80%;
  color: #fff;
  margin: 5rem auto 2.5rem auto;
  max-width: 80%;
  font-size: 1.125rem;
  background: #1b1a1a;
  padding: 2rem 2rem;
  border-radius: 20px;
  box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
}

.form-container h1 {

  background: #0d0f42;
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(255, 254, 254, 0.898);
  box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
  font-weight: normal;
  font-size: 4rem;
  border-radius: 20px;
  border: 2px solid #007bff;

}

.form-container h1 span {
  font-size: 5rem;

  font-style: normal;
}

.form-container a {
  text-decoration: none;
  color: #007bff;
}



.form-container .text {
  margin-top: 0.5rem;
  text-align: center;
}

.form-control {
  margin: 1.5em 0 3.5em;
}


.form-control input {
  background: transparent;
  border: 0;
  border-bottom: 1px #fff solid;
  width: 100%;
  padding: 1.25rem 0;
  font-size: 1.125rem;
  color: #007bffe4;
}

.form-control input:focus {
  outline: 0;
  border-bottom-color: #007bff;

}


.login-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #007bff;
  padding: 0.938rem;
  font-weight: 500;
  font-size: 1.563rem;
  color: #0d0f42;
  margin-bottom: 1.5rem;
  border-radius: 20px;
}



.login-btn:active {
  transform: scale(0.98);
}


.login-btn:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #007bff;
  box-shadow: 3px 0.25rem 1.25rem rgba(248, 247, 247, 0.724);
}



@media only screen and (max-width: 1200px) {

  .menu-btn {

    top: 1rem;
    right: 1.8rem;
  }

}


@media only screen and (max-width: 400px) {

  .form-container h1 {

    font-size: 2.5rem;

  }

  .form-container h1 span {

    font-size: 3.5rem;
  }

}