@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*------------------------Body Start------------------------------*/

body {
    display: flex;

    flex-direction: column;
    min-height: 100vh;
    background: #000116;
    overflow-x: hidden;
}

body :not(.navbar) {
    animation: trans 0.2s;
}

@keyframes trans {

    from {

        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

/*------------------------Body End------------------------------*/

/*------------------------scrollbar Start------------------------------*/

::-webkit-scrollbar {
    background: #282f4e;
    width: 3px;
    border-radius: 2em;
}


::-webkit-scrollbar-thumb {
    background: #007bff;
    width: 100%;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #454f6d;
}

/*------------------------scrollbar End------------------------------*/


/*------------------------NavBar Start------------------------------*/

.navbar {

    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar .content {
    max-width: 100%;
    margin: auto;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 4em;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.5s ease;
}

/*-------------------------*/

.navbar .logo a {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar .logo a span {
    color: #007bff;
    font-size: 2.5rem;

}

.navbar .logo img {
    width: 2rem;
    display: inline-flex;

}

/*-------------------------*/

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li :not(.active):hover {
    color: #007bff;
}

.menu-list a.active {
    border-bottom: 5px solid #007bff;



}

/*-------------------------*/
.nav-close-btn,
.nav-menu-btn {
    display: none;
}

.icon {
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar.sticky .icon.cancel-btn {
    top: 10px;
}

/*-------------------------*/
.navbar a i {
    display: none;
}

/*----------Navbar Responsive---------------*/




/*------------------------NavBar End------------------------------*/

/*------------------------Footer Start------------------------------*/
.footer {

    background: #007bff12;
    padding-top: 50px;
    border-top: #fff solid 10px;
    border-radius: 10% 10% 0 0;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

/*-------------------------*/
.footer .logo {
    margin-bottom: 20px;
}

.footer .logo h3 {
    display: inline-flex;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #fff;
}


.footer .logo span {
    color: #007bff;
    font-size: 3.5rem;

}

.footer .logo img {
    width: 3rem;
    display: inline-flex;

}



/*-------------------------*/
.footer-content p {
    max-width: 900px;
    margin: 10px auto;
    font-size: 0.8rem;
    text-align: center;
}

/*-------------------------*/
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {

    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials li {
    margin: 0 20px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {

    font-size: 2.5rem;
    transition: color .2s ease;
}

.socials a:hover i {
    color: #007bff;
}

/*-------------------------*/
.footer-bottom {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}


.footer-bottom p {
    font-size: 1rem;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    color: #007bff;
    font-weight: 900;
}


/*------------------------Footer End------------------------------*/



@media only screen and (max-width: 1200px) {
    body.disabledScroll {
        overflow: hidden;
    }

    .icon {
        display: block;
        height: 1rem;
        width: 1rem;
        text-align: center;
    }

    .icon.cancel-btn {
        display: none;
    }

    .icon.cancel-btn.show {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 200vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: block;
        padding: 40px 0;
        text-align: center;
        clip-path: circle(0%);
        transition: all 0.3s ease;
    }

    .navbar.sticky .menu-list {
        clip-path: circle(0%);
    }

    .menu-btn {
        position: absolute;
        top: 1.8rem;
        right: 1.85rem;
    }

    .navbar.sticky .menu-btn {
        position: absolute;
        top: 0.8rem;
        right: 1.85rem;

    }

    .navbar .menu-list.active {
        clip-path: circle(75%);
    }

    .navbar .menu-list li {
        margin-top: 85px;
    }


}




@media only screen and (max-width: 415px) {

    .navbar .logo a {
        font-size: 1.5rem;
    }

    .navbar .menu-list li a {
        font-size: 1.5rem;
    }

    .menu-btn {
        top: 2rem;
        right: 1.5rem;

    }

    .navbar.sticky .menu-btn {
        top: 1rem;
        right: 1.5rem;

    }


    .navbar .menu-list li {
        margin-top: 75px;
    }


    .footer .logo h3 {
        font-size: 1.5rem;
    }

    .footer .logo span {

        font-size: 2.5rem;
    }

    .footer .logo img {
        width: 2rem;
    }

    .footer-content p {
        font-size: 0.5rem;
    }

    .socials a i {
        font-size: 1.5rem;
    }

    .footer-bottom p {
        font-size: .5rem;
    }
}

@media only screen and (max-width: 380px) {

    .navbar .menu-list li a {
        font-size: 1.2rem;
    }

}